* {
  font-family: sans-serif;
  color: #fff;
  background-color: #111;
  box-sizing: border-box;
}

body {
  background: #111;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Title{
  font-size: 4rem;
}

.section-flex{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  flex-wrap: wrap;
}

.SubTitle{
  font-size: 1rem;
  text-align: center;
}

.counters{
  background: #f00;
  padding: 3rem 2rem;
  border-radius: 20px;
}
